<%= form_for @profile do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@story.errors.count, "error") %> prohibited this story from being saved:</h2>

      <ul>
      <% @story.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :Firstname %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :Lastname %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="form_row">
    <%= f.label :Sex %><br />
    <%= f.radio_button 'sex', 'male'%>Male
    <%= f.radio_button 'sex', 'female'%>Female
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

